.crest_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    min-height: 600px;
    overflow: clip;
}

.crest
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.crest img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.crest_container .slot
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    aspect-ratio: 1;
    transform: translate(-50%, -50%); /*makes moving slots around more intuitive*/
}

.crest_container .slot img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.crest_container .slot .border
{
    position: absolute;
    padding: 57%;
    border-radius: 50%;
    pointer-events:"none";
    border-style: solid;
    border-width: 4px;
    z-index: -1;
}