.hunter-crest_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crest
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 65%;
    aspect-ratio: 1;
}

.crest img
{
    height: 100%;
    object-fit: contain;
}

.slot
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 12%;
    height: 12%;
    transform: translate(-50%, -50%); /*makes moving slots around more intuitive*/
}

.slot img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}