.hunter-crest_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    min-height: 600px;
    overflow: clip;
}

.crest
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 65%;
}

.crest img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hunter-crest_container .slot
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 12%;
    aspect-ratio: 1;
    transform: translate(-50%, -50%); /*makes moving slots around more intuitive*/
}

.hunter-crest_container .slot img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}