.instructions
{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.instructions-btn
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 1%;

    background-color: black;
    border: solid white;
    font-size: 18px;
    font-family: "Perpetua";
    color: white;
}

.popup
{
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 10%;
    
    display: flex;
    align-items: center;

    background-color: black;
    border: solid white;
    color: white;
    min-width: 400px;
    min-height: 400px;
    padding: 2%;
    font-family: "Perpetua";
    font-size: 18px;
}

.popup .close-btn
{
    position: absolute;
    top: -2px;
    right: -2px;

    background-color: black;
    border: solid white;
    color: white;
}

kbd
{
    display: inline-block;
    border: solid #CDCDCD;
    padding: 2px 6px;
    background-color: white;
    color: black;
}