.skill-tool-list_container {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1.9;
  min-height: 600px;
}

.skill-tool-list{
  width: 90%;
  height: 90%;
  overflow-y: auto;
  --fade-amount: 12%;
  mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading img {
  padding: 5%;
  width: 65%
}

.category{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.category_item
{
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  position: relative;
}

.category_item img
{
  width: 80%;
  height: 80%;
  object-fit: contain
}

.category_item .border
{
    position: absolute;
    padding: 46%;
    border-radius: 50%;
    pointer-events:"none";
    border-style: solid;
    border-width: 4px;
    z-index: -1;
}

::-webkit-scrollbar {display:none;}