.skill-tool-list_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-tool-list{
  width: 90%;
  height: 90%;
  overflow-y: auto;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading img {
  padding: 5%;
  width: 65%
}

.category{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.category_item
{
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.category_item img
{
  width: 80%;
  height: 80%;
  object-fit: contain
}

::-webkit-scrollbar {display:none;}