.skill-tool-list_container
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  aspect-ratio: 1/1.9;
}

.skill-tool-list
{
  overflow-y: auto;
  width: 90%;
  height: 90%;
  
  --fade-amount: 12%;
  mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
}

.heading
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading img
{
  width: 65%;
  padding: 5%;
}

.category
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.category_item
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.category_item img
{
  width: 80%;
  height: 80%;
  object-fit: contain
}

.category_item .border
{
  position: absolute;
  z-index: -1;
  border-style: solid;
  border-width: 4px;
  border-radius: 50%;
  padding: 46%;
}

::-webkit-scrollbar {display:none;}