.vesticrest_container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
    min-height: 600px;
    aspect-ratio: 1/3;
}

.vesticrest
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.vesticrest img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.vesticrest_container .slot
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%); /*makes moving slots around more intuitive*/
    aspect-ratio: 1;
}

.vesticrest_container .slot img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.vesticrest_container .slot .border
{
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    padding: 57%;
}