.vesticrest_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vesticrest
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55%;
}

.vesticrest img
{
    height: 100%;
    object-fit: contain;
}

.vesticrest_container .slot
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    transform: translate(-50%, -50%);
}

.vesticrest_container .slot img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}