.vesticrest_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/3.5;
    min-height: 600px;
    overflow: clip;
}

.vesticrest
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.vesticrest img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.vesticrest_container .slot
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    aspect-ratio: 1;
    transform: translate(-50%, -50%); /*makes moving slots around more intuitive*/
}

.vesticrest_container .slot img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}